<div class = 'flex-container-vertical'>
  <div class='page_section'>
    <table>
      <tr>
        <th>Title</th>
        <th>Release Year</th>
        <th>Genres</th>
      </tr>
      <tr>
        <td><%= @game.title %></td>
        <td><%= @game.release_year %></td>
        <td>
          <% @game.genres.each do |genre| %>
            <span class='tag'><%=genre.name%></span>
          <% end %>
        </td>
      </tr>
    </table>

    <form class='inline_button' action='/games/<%=@game.slug%>/edit'>
      <input type='submit' value='Edit'>
    </form>

    <form class='inline_button' action='/games/<%=@game.slug%>/delete'>
      <input type='submit' value='Delete'>
    </form>

    <form class='inline_button' action='/user/add_game/<%=@game.slug%>' method='post'>
      <input type='submit' value='Add To My Collection'>
    </form>
  </div>

  <div class='page_section'>
    Other members who own <b><%=@game.title%></b>
    <br><br>
    <table>
      <tr>
        <th>User</th>
        <th>Email</th>
      </tr>
      <% @game.users.each do |user| %>
      <tr>
        <td><a href='/user/<%=user.slug%>'><%=user.username%></a></td>
        <td><%=user.email%></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
