<div class='row'>
  <h1><%=@user.username%></h1>
</div>

<div class='flex-container-horizontal'>

    <div class='page_section'>
      <h3>About Me</h3>

      <table class='vertical_list'>
        <tr>
          <th>Username: </th>
          <td><%=@user.username%></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%=@user.email%></td>
        </tr>
        <tr>
          <th>First Name:</th>
          <td><%=@user.firstname.capitalize%></td>
        </tr>
        <tr>
          <th>Last Name:</th>
          <td><%=@user.lastname.capitalize%></td>
        </tr>

      </table>

      <% if @user == current_user %>
        <a href='/user/edit'>Edit Details</a>
        <a href='/user/edit'>Change Password</a>
      <% end %>

    </div>

    <div class='page_section'>

      <h3>
        <% if @user == current_user %>
          My
        <% else %>
          <%= @user.username %>'s
        <% end %>
        collection
      </h3>

      <table>
        <tr>
          <th>Title</th>
          <th>Release Year</th>
          <th>Tags</th>
        </tr>

        <% #create a new table row for every instance of game that belongs to the user%>
        <% @user.games.sort{ |a,b| a.title <=> b.title }.each do |game| %>
          <tr>
            <td><a href="/games/<%=game.slug%>"> <%=game.title%> </a></td>
            <td><%=game.release_year%></td>
            <td>
              <% game.genres.each do |genre| %>
                <span class='tag'><%=genre.name%></span>
              <% end %>
            </td>
            <%if @user == current_user %>
              <td>
                <form class='inline_button' action='/user/remove_game/<%=game.slug%>' method='post'>
                  <input type='submit' value='Remove'>
                </form>
              </td>
            <% end %>
          </tr>
        <% end %>

      </table>
    </div>

    <div class='post_board'>
      <% @user.personal_board.posts.each do |post| %>
        <div class='post'>
          <%= post.content %>
        </div>
      <% end %>
    </div>
  </div>
