<div class='row'>
  <h1><%=@user.username%></h1>
</div>

<div id='flash_message'>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</div>

<div class='flex-container-horizontal'>

<% #----------------------------ABOUT ME----------------------------------# %>
    <div class='page_section'>
      <span id='section_title'>About Me</span>

      <table class='vertical_list'>
        <tr>
          <th>Username: </th>
          <td><%=@user.username%></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%=@user.email%></td>
        </tr>
        <tr>
          <th>First Name:</th>
          <td><%=@user.firstname.capitalize%></td>
        </tr>
        <tr>
          <th>Last Name:</th>
          <td><%=@user.lastname.capitalize%></td>
        </tr>
      </table>

      <% if current_user != @user %>
        <% if current_user.has_pending_request_with?(@user) %>
          Friend Request Pending
        <% elsif !current_user.is_friends_with?(@user)%>
          <form action='/user/add_friend/<%=@user.id%>' method='post'>
            <input type='submit' value='Add As Friend'>
          </form>
        <% end %>

        <form action='/posts/new/<%= @user.slug %>'>
          <input type='submit' value='Write On Board'>
        </form>
      <% elsif @user == current_user %>
        <a href='/user/edit'>Edit Details</a>
        <a href='/user/edit'>Change Password</a>
      <% end %>

    </div>

<% #----------------------------GAME COLLECTION----------------------------------# %>

    <div class='page_section'>

      <h3>
        <% if @user == current_user %>
          My
        <% else %>
          <%= @user.username %>'s
        <% end %>
        collection
      </h3>

      <table>
        <tr>
          <th>Title</th>
          <th>Release Year</th>
          <th>Tags</th>
        </tr>

        <% #create a new table row for every instance of game that belongs to the user%>
        <% @user.games.sort{ |a,b| a.title <=> b.title }.each do |game| %>
          <tr>
            <td><a href="/games/<%=game.slug%>"> <%=game.title%> </a></td>
            <td><%=game.release_year%></td>
            <td>
              <% game.genres.each do |genre| %>
                <span class='tag'><%=genre.name%></span>
              <% end %>
            </td>
            <%if @user == current_user %>
              <td>
                <form class='inline_button' action='/user/remove_game/<%=game.slug%>' method='post'>
                  <input type='submit' value='Remove'>
                </form>
              </td>
            <% end %>
          </tr>
        <% end %>

      </table>
    </div>

<% #----------------------------FRIENDS BOX----------------------------------# %>

    <div class='page_section'>
      <span id='section_title'><%= @user.username %>'s friends</span>
      <table>
        <tr>
          <th>Username</th>
          <th># Games You<br>Have In Common</th>
        </tr>
        <% @user.friends.each do |friend| %>
          <tr>
            <td>
              <%='(pending)' unless friend.is_friends_with?(@user)%>
              <a href='/user/<%=friend.slug%>'> <%= friend.username %> </a>
            </td>
            <td><%= @user.num_games_in_common_with(friend) %></td>
          </tr>
        <% end %>
      </table>
    </div>

<% #----------------------------POST BOARD----------------------------------# %>

    <div class='post_board'>
      <span id='section_title'><%= @user.username %>'s board</span>
      <% @user.personal_board.posts.each do |post| %>
        <div class='post'>
          <div class='post_avatar'>
            <%= post.user.username %>
          </div>
          <div class='post_message'>
            <%= post.content %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
